@model task6_2.Models.Order
<h1> Last Order</h1>
<div>
    <h4> Order ID: <span style="color:red"> @Model.id_order</span> </h4>
    <h4> Order Date:<span style="color:red"> @Model.orderdate  </span></h4>
</div>